* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  padding: 20px;
}

main {
  margin-top: 20px;
}

.message {
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  background: lightblue;
  color: darkblue;
  border-radius: 5px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.message::after {
  content: "";
  display: block;
  position: absolute;
  left: -18px;
  bottom: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent lightblue transparent transparent;
}

/* .message.person-2 {
  background: lightpink;
  color: darkred;
} */

/* .message.person-2::after {
  left: auto;
  right: -18px;
border-width: 10px 0 10px 20px;
border-color: transparent transparent transparent lightpink;
} */

/* .message[data-text*="hello" i]::before {
  content: "👋";
  display: inline-block;
  margin-right: 5px;
} */