h2,
h3 {
  margin-top: 15px;
}

.inner-box div {
  margin-bottom: 8px;
}

/* 下面兩個結果一樣 */
p[class="read-only"]:read-only {
  background-color: aquamarine;
}

/* .read-only:read-only {
  background-color: aquamarine;
} */

select:disabled {
  background-color: rgb(46, 46, 46);
  color: azure;
}

/* target */
p:target {
  background-color: gold;
}

/* 結合 ::before */
/* p:target::before {
  font: 70% sans-serif;
  content: "►";
  color: limegreen;
  margin-right: 0.25em;
} */

div:target {
  color: red;
  font-weight: 900;
}

/* nth-child*/
/* 選在 .test-nth 下的第二個 div */
.test-nth div:nth-child(3) {
  background: red;
}

/* 選在 .test-nth 下的 ul 中的第二個 li */
.test-nth>ul li:nth-child(2) {
  background: lightgreen;
}

/* 選取任何子層內的第三個項目 */
:nth-child(3) {
  background: yellow;
}

/* 在 指定 class 下的 p，符合條件的皆選取 */
.test-nth-anb p:nth-child(2n+1),
.test-nth-anzero p:nth-child(2n+0),
.test-nth-anfour p:nth-child(4n+1) {
  background-color: rgb(151, 82, 101);
  color: white;
}